<div class="row">
  <div class="col-4 d-flex flex-column">
    <a href="/" class="btn btn-success mb-3">INDEX</a>
    <a href="/new" class="btn btn-success mb-3">new</a>
    <a href="/:id" class="btn btn-success mb-3">GET /:id</a>
    <form action="/" method="POST" class="d-flex flex-column mb-3">
      <button class="btn btn-success">POST /</button>
    </form>
  </div>
</div>